<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <!-- creating this header for our website navbar -->
    <header>
        <div class="mainnav">
            <div class="logo">
                <img src="images/1logo.png" alt=""><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <h2>S.S. Jain Subodh p.g.</br>(Autonomous)collage</h2>
            </div>
            <div class="links">
                <a href="">QUICK-LINKS</a>
                <a href="">OTHER-LINKS</a>
            </div>
            <!-- this div is for position abslute nav bar -->
            <nav>
                <div class="nav-link"> 
                    <ul>
                        <li><img id="nav-icon" src="images/home.png" alt="">&nbsp;<a href="/">HOME</a></li>
                        <li><img id="nav-icon" src="images/about.png" alt="">&nbsp;<a href="about-us">ABOUT-US</a>&nbsp;<img src="images/down-arrow.png" alt="">
                            <div class="sub-nav">
                                <ul>
                                    <li><a href="#">NAAC</a></li>
                                    <li><a href="#">NIRF</a></li>
                                    <li><a href="#">MESSAGE</a></li>
                                    <li><a href="#">GOVERNING COUNCIL (S.S.)</a></li>
                                    <li><a href="#">COLLEGE MENAGEMENT</a></li>
                                    <li><a href="#">GOVERNING COUNCIL (COLLEGE)</a></li>
                                    <li><a href="#">LIST OF INSTITUTES</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><img id="nav-icon" src="images/course.png" alt="">&nbsp;<a href="courses">COURSES</a>&nbsp;<img src="images/down-arrow.png" alt="">
                            <div class="sub-nav">
                                <ul>
                                    <li><a href="#">UG PROGRAME</a></li>
                                    <li><a href="#">PG PROGRAME</a></li>
                                    <li><a href="#">CERTIFICATE COURSE</a></li>
                                    <li><a href="#">DIPLOMA</a></li>
                                    <li><a href="#">PG DIPLOMA</a></li>
                                    <li><a href="#">M.PHIL COURSE</a></li>
                                    <li><a href="#">PH.D COURSE</a></li> 
                                </ul>
                            </div>
                        </li>
                        <li><img id="nav-icon" src="images/admission.png" alt="">&nbsp;<a href="#">ADMISSIONS</a>&nbsp;<img src="images/down-arrow.png" alt="">
                            <div class="sub-nav">
                                <ul>
                                    <li><a href="https://admissions.subodhpgcollege.com/" target="_blank">APPLY NOW</a></li>
                                    <li><a href="#">ADMISSION PROCCES</a></li>
                                    <li><a href="pdf/Admission_Form_UG_2021-22.pdf" target="_blank">ADMISSION FORM</a></li>
                                    <li><a href="#">PROSPECETS</a></li>
                                    <li><a href="#">IMPORTANT DATES</a></li>
                                    <li><a href="#">SCHOLARSHIP</a></li>
                                    <li><a href="#">CAMPUS VISIT</a></li>
                                    <li><a href="#">ANTI RAGGING</a></li>
                                    <li><a href="#">LETRY ENTRY</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><img id="nav-icon" src="/images/contact.png" alt="">&nbsp;<a href="contact">CONTACT-US</a></li>
                    </ul>
                </div>
                <!-- this nav for the menu button icon -->
                <div class="menu-bar">
                    <i class="fa fa-bars" onclick="showMenu()" id="faBars"></i>
                    <i class="fa fa-times" onclick="hideMenu()" id="faTimes"></i>
                    <div class="menu-nav" id="menuNav">
                        <ul>
                            <li><a href="http://136.232.11.214/Exams/" target="blank">SUBODH PORTAL</a></li>
                            <li><a href="#">STUDENT CONNER</a></li>
                            <li><a href="#">LIFE AT SUBODH</a></li>
                            <li><a href="#">PLACEMENTS</a></li>
                            <li><a href="#">NEWS & ANNOUNCEMENTS</a></li>
                            <li><a href="#">EXAMINATION</a></li>
                            <li><a href="#">STAFF MEMBERS</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- this area is for main section   -->
    <section class="main">
        <div class="row">
            <div class="main-col title1">
                <h3>Affiliated to the University of Rajasthan</h3>
                <p>Re-accredited with 'A++' Grade(3.82 CGPA - Highest in the country) by NAAC-UGC. </p>
            </div>
            <div class="main-col bgimg1">
                <img src="images/bgimg1.jpg" alt="">
            </div>
    </section>
    <!-- this area is for achivement section  -->
    <section class="achivements">
        <div class="a1">
            <div class="row">
                <div class="achivements-col bgimg2">
                    <img src="images/nirf.jpg" alt="">
                </div>
                <div class="achivements-col title2">

                    <h3>NIRF-MHRD Ranks among top 200 colleges of India.</h3>
                    <p>Awarded status of "College of Excellence" by UGC.</p>
                </div>
            </div>
        </div>
        <div class="a2">
            <div class="row">
                <div class="achivements-col title3">
                    <h3>MODEL COLLEGE OF RAJASTHAN </h3>
                    <p>Goverment of Rajasthan declared SUBODH College as 'MODEL COLLEGE' of Rajasthan.</p>
                </div>
                <div class="achivements-col bgimg3">
                    <img src="images/bgimg4.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="a3">
            <div class="row">
                <div class="achivements-col student-achivement">
                    <img src="images/achivement.gif" alt="">
                </div>
                <div class="achivements-col title4">
                    <h3>STUDENT ACHIVEMENTS IN SUBODH COLLEGE</h3>
                    <p>There has lot of Students at the ladders of Success from Subodh.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- this area is for courses section  -->
    <section class="courses">
        <h1>Courses provide in our College</h1>
        <div class="courses-bg">
            <div class="courses-col ug-programmes-details">
                <a href="">UG-PROGRAMMES</a>
                <p>There has 25 diffrent UG-PROGRAMMES</p>
                <button class="button-more">FOR MORE <span>&#129170;</span></button>
            </div>
            <div class="courses-col ug-programmes-img">
                <img src="images/ug-programmes 2.jpg" alt="">
            </div>
            <div class="courses-col pg-programmes-img">
                <img src="images/pg-programmes2.jpg" alt="">
            </div>
            <div class="courses-col pg-programmes-details">
                <a href="">PG-PROGRAMMES</a>
                <p>There has 23 diffrent PG-PROGRAMMES</p>
                <button class="button-more">FOR MORE <span>&#129170;</span></button>
            </div>
            <div class="courses-col diploma-course-details">
                <a href="">DIPLOMA-COURSE</a>
                <p>There has 3 diffrent DIPLOMA-COURSE</p>
                <button class="button-more">FOR MORE <span>&#129170;</span></button>
            </div>
            <div class="courses-col diploma-course-img">
                <img src="images/diploma-course2.jpg" alt="">
            </div>
        </div>
        </div>
    </section>
    <div class="courses-seemore "><a href="courses.html" class="hero-btn">Click here for more</a></div>
    <!-- this area for placements  -->
    <section class="placement">
        <div class="row">
            <div class="placement-col">
                <img src="images/placement-img.jpg" alt="">
            </div>
            <div class="placement-col placements-details">
                <h3>Top placement record in state</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel recusandae totam omnis tempora
                    repellendus aspernatur tempore, fuga nulla sapiente facere.</p>
            </div>
        </div>
        <h1>OUR TOP RECRUITERS</h1>
        <div class="recruiters">
            <div class="recruiters-col"><img src="images/place/amazon.jpg" alt=""></div>
            <div class="recruiters-col"><img src="images/place/infosys.jpg" alt=""></div>
            <div class="recruiters-col"><img src="images/place/IBM2.png" alt=""></div>
            <div class="recruiters-col"><img src="images/place/TCS_Logo.jpg" alt=""></div>
            <div class="recruiters-col" id="dD1"><img src="images/place/HCL_tech.jpg" alt=""></div>
            <div class="recruiters-col" id="dD2"><img src="images/place/airte.jpg" alt=""></div>
            <div class="recruiters-col " id="dD3"><img src="images/place/cancel-icici-bank-credit-card.jpg" alt="">
            </div>
            <div class="recruiters-col" id="dD4"><img src="images/place/cardekho.jpg" alt=""></div>
            <div class="recruiters-col" id="dD5"><img src="images/place/concentrix.png" alt=""></div>
            <div class="recruiters-col" id="dD6"><img src="images/place/dotsquares.png" alt=""></div>
            <div class="recruiters-col" id="dD7"><img src="images/place/Genpact.png" alt=""></div>
            <div class="recruiters-col" id="dD8"><img src="images/place/Godrej.jpg" alt=""></div>
            <div class="recruiters-col" id="dD9"><img src="images/place/HDFClogo.jpg" alt=""></div>
            <div class="recruiters-col" id="dD10"><img src="images/place/jio.png" alt=""></div>
            <div class="recruiters-col" id="dD11"><img src="images/place/LG-Logojpg.jpg" alt=""></div>
            <div class="recruiters-col" id="dD12"><img src="images/place/Tech-Mahindra.png" alt=""></div>
            <div class="recruiters-col" id="dD13"><img src="images/place/vi.jpeg" alt=""></div>

        </div>
        <i><img src="images/down-arrow.png" class="downarrow" id="seeMore" onclick="print()"></i>
    </section>
    
  <!-- this is for follow section -->
  <div class="follow">
    <div class="follow-col"><a href="courses.html">follow us on facebook</a><img src="images/facebook.png" alt=""></div>
    <div class="follow-col"><a href="courses.html">follow us on instagram</a><img src="images/instagram.png" alt=""></div>
    <div class="follow-col"><a href="courses.html">follow us on twitter</a><img src="images/twitter.png" alt=""></div>
    <div class="follow-col"><a href="courses.html">follow us on youtube</a><img src="images/youtube.png" alt=""></div>
    <div class="follow-col"><a href="courses.html">follow us on linkedin</a><img src="images/linkedin.png" alt=""></div>
    <div class="follow-col"><a href="courses.html">devlopers details</a><img src="images/html-coding.png" alt=""></div>
</div>

<!-- this area is for footer  -->
    <footer>
        <div class="footer-row">
            <div class="footer-col b1">
                <img src="images/1logo.png">
                <h3>S.S. Jain Subodh p.g.</br>(Autonomous)collage</h3>
            </div>
            <div class="footer-col b2">
                <a href="#">Tour</a>
                <a href="#">Inside Subodh</a>
                <a href="#">Academic calender</a>
                <a href="#">Bookstore</a>
            </div>
            <div class="footer-col b3">
                <form action="">
                    <label for="email">News-letter</label><br>
                    <input type="email" name="email" id="email" placeholder="Subsscribe for news">
                </form>
            </div>
        </div>
        <h1>Copyright &copy; All Right Reserved <a href="">S.S. Jain Subodh p.g. (Autonomous) College</a></h1>
    </footer>






    <script>
        var seeMore = document.getElementById("seeMore")
        var dD1 = document.getElementById("dD1")
        var dD2 = document.getElementById("dD2")
        var dD3 = document.getElementById("dD3")
        var dD4 = document.getElementById("dD4")
        var dD5 = document.getElementById("dD5")
        var dD6 = document.getElementById("dD6")
        var dD7 = document.getElementById("dD7")
        var dD8 = document.getElementById("dD8")
        var dD9 = document.getElementById("dD9")
        var dD10 = document.getElementById("dD10")
        var dD11 = document.getElementById("dD11")
        var dD12 = document.getElementById("dD12")
        var dD13 = document.getElementById("dD13")

        function print() {
            dD1.style.display = "block"
            dD2.style.display = "block"
            dD3.style.display = "block"
            dD4.style.display = "block"
            dD5.style.display = "block"
            dD6.style.display = "block"
            dD7.style.display = "block"
            dD8.style.display = "block"
            dD9.style.display = "block"
            dD10.style.display = "block"
            dD11.style.display = "block"
            dD12.style.display = "block"
            dD13.style.display = "block"
            seeMore.style.display = "none"
        }
    </script>

    <script>
        var menuNav = document.getElementById("menuNav");
        var faBars = document.getElementById("faBars");
        var faTimes = document.getElementById("faTimes");

        function showMenu() {
            menuNav.style.top = "100%";
            faBars.style.display = "none";
            faTimes.style.display = "block";

        }
        function hideMenu() {
            menuNav.style.top = "-1000%";
            faTimes.style.display = "none";
            faBars.style.display = "block";
        }
    </script>


</body>

</html>